@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-internal-1j7ahlv {
  width: 40px;
  height: 40px;
}
.cl-internal-wd8woj {
  border-radius: 4px;
  border: none;
}
._follow_nqq4j_74 {
  display: none;
}
._replies_1cutb_1 {
  display: none;
}
._article_98iqw_21 p {
  font-size: 15px;
  font-family: sans-serif;
}

._root_1ec15_1 {
  display: none;
}
.react-tweet-theme._root_98iqw_1 {
  margin: 0 !important;
  border: 1px;
}
.react-tweet-theme button {
  display: none;
}

a._reply_n2anf_14 {
  display: none;
}
a._infoLink_19qcj_10 {
  display: none;
}
div._actions_n2anf_1 {
  display: flex;
  justify-content: start;
  border: none;
}
